    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: Arial, sans-serif;
    }
    
    #navbar {
        text-align: right;
        margin-top: 14px;
    }
    
    .menu-item {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.87);
        text-decoration: none;
        position: relative;
        top: -12px;
        margin-right: 16px;
    }
    
    #dropdown-menu {
        position: relative;
        top: -4px;
        margin-right: 16px;
    }
    
    .menu-item:hover {
        text-decoration: underline;
    }
    
    #profile-pic {
        width: 32px;
        height: 32px;
        border-radius: 18px;
        margin-right: 16px;
    }
    
    section {
        text-align: center;
        padding-top: 12%;
    }
    
    #input-wrapper {
        width: 582px;
        position: relative;
        display: inline-block;
    }
    
    #search-bar {
        width: 100%;
        color: #222;
        border: 1px solid #dfe1e5;
        font-size: 13px;
        padding: 14px;
        border-radius: 24px;
        outline: none;
        margin-bottom: 30px;
        margin-top: 4px;
    }
    
    #search-bar:hover {
        box-shadow: 0 1px 6px 0 rgba(22, 62, 180, 0.28);
        border-color: rgba(5, 84, 241, 0);
    }
    
    #search-bar:focus {
        box-shadow: 0 1px 6px 0 rgba(22, 62, 180, 0.28);
        border-color: rgba(5, 84, 241, 0);
    }
    
    #input-wrapper>img {
        position: absolute;
        right: 0;
        top: 12px;
        width: 28px;
    }
    
    .custom-btn {
        background-color: #f2f2f2;
        color: #5F6368;
        font-size: 14px;
        height: 36px;
        padding: 0 16px;
        background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
        border: 1px solid transparent;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
        color: #222;
    }
    
    .custom-btn:hover {
        background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
        border: 1px solid #c6c6c6;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        color: #222;
    }
    
    .custom-btn:first-of-type {
        margin-right: 35px;
    }
    
    #app-dropdown {
        width: 285px;
        padding: 28px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: absolute;
        right: 72px;
        display: none;
    }
    
    .app-item {
        display: inline-block;
        width: 84px;
        padding: 8px 2px;
        text-align: center;
        justify-content: center;
    }
    
    .app-item:hover {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }
    
    .app-item>img {
        width: 45px;
        height: 45px;
    }
    
    .app-item>p {
        color: rgba(0, 0, 0, 0.87);
        margin: 0;
        padding-top: 8px;
    }
    
    #dropdown-wrapper {
        display: inline-block;
    }
    
    #dropdown-wrapper:hover {
        cursor: pointer;
    }
    
    #dropdown-wrapper:hover #app-dropdown {
        display: block;
        cursor: pointer;
    }